selenium
beautifulsoup4
lxml
langchain
pypdf
langchain-community
unstructured
openai
supabase
langchain-openai
psycopg2
requests
langchain-core
langchain-text-splitters
mysql-connector-python
fastapi
uvicorn 
langchain_groq
streamlit
markdown
langchain
tavily-python